.content {
    width: 400px;
    height: 500px;
    border: 2px solid black;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.box {
    border: 2px solid black;
}
.first, .third, .fifth {
    background-color: rgb(234, 153, 153);
}
.second, .fourth, .sixth {
    background-color: #9FC5F8;
}
.seventh {
    background-color: #FFE599;
    grid-column-start: 1;
    grid-column-end: span 2;
}