.firstsection {
    width: 100%;
    height: 100vh;
}
.firsectionleft {
    height: 20rem;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.firsectionleft h1 {
    font-family: bely-display;
    font-size: 3rem;
    font-weight: bold;
}
.firsectionleft #bannerbutton {
    width: 11rem;
    background-color: #71A894;
    color: white;
    text-align: center;
}
.secondsection h2 {
    font-family: bely-display;
    font-weight: bold;
    font-size: 2.5rem;
}
.secondsectioncol {
    margin-right: 2rem;
    margin-left: 2rem;
}