*{
    font-family: 'PT Sans', sans-serif;
}

body{
    padding: 50px;
}

button{
    background-color: greenyellow;
font-size: large;
}
#result{
    width: 285px;
        height: 40px;
        border: 2px solid black;
        margin-bottom: 5px;
}