
#drag1, #drag2, #drag3{
    background-color: yellow;
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin: 5px;
}

.dropzone{
    background-color: red;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 5px;
position: relative;
margin-left:500px;
}
#item1{
    margin-top:-400px;
}